body {
  margin: 0;
}

.markdown-body {
  box-sizing: border-box;
  min-width: 200px;
  max-width: 980px;
  margin: 0 auto;
  padding: 45px;
}

@media (max-width: 767px) {
  .markdown-body {
    padding: 15px;
  }
}

@media (prefers-color-scheme: dark) {
  .markdown-body {
    color-scheme: dark;
    --focus-outlineColor: #1f6feb;
    --fgColor-default: #e6edf3;
    --fgColor-muted: #8d96a0;
    --fgColor-accent: #4493f8;
    --bgColor-default: #0d1117;
    --bgColor-muted: #161b22;
    --borderColor-default: #30363d;
    --borderColor-muted: #30363db3;
  }

  .markdown-body h1, .markdown-body h2, .markdown-body h3, .markdown-body h4, .markdown-body h5, .markdown-body h6 {
    color: #e6edf3; 
  }

  .markdown-body p {
    color: #e6edf3; 
  }

  
}

